<mat-card>
  <div>
    <img [src]="imagem"/>
  </div>
  <div class="input-group row">
    <div class="col-md-2">
      <p>link grade</p>
    </div>
    <div class="col-md-4">
      <p>monster requiriment</p>
    </div>
    <div class="col-md-3">
      <p>arrows chart</p>
      <table>
        <tr>
          <td>

          </td>
          <td>
            <p>arrows chart</p>
            <img [src]="imagem">
          </td>
          <td>
            <p>arrows chart</p>


          </td>
        </tr>
        <tr>
          <td>
            <p>arrows chart</p>

          </td>
          <td>
            <p>arrows chart</p>

          </td>
          <td>
            <p>arrows chart</p>

          </td>
        </tr>
        <tr>
          <td>
            <p>arrows chart</p>

          </td>
          <td>
            <p>arrows chart</p>

          </td>
          <td>
            <p>arrows chart</p>

          </td>
        </tr>
      </table>
    </div>
  </div>
</mat-card>
