<div>
  <mat-button-toggle-group #colorToggle="matButtonToggleGroup" value="primary" aria-label="Change color">
    <mat-button-toggle value="primary"> Primary </mat-button-toggle>
    <mat-button-toggle value="accent"> Accent </mat-button-toggle>
  </mat-button-toggle-group>
  <span class="example-button-toggle-label"> Color </span>
</div>

<div>
  <mat-button-toggle-group #backgroundColorToggle="matButtonToggleGroup" value="primary" aria-label="Change color">
    <mat-button-toggle value="primary"> Primary </mat-button-toggle>
    <mat-button-toggle value="accent"> Accent </mat-button-toggle>
  </mat-button-toggle-group>
  <span class="example-button-toggle-label"> Background Color </span>
</div>


            <mat-card>
              <mat-card-header>
                <mat-card-title>title</mat-card-title>
                <mat-card-subtitle>subtitle</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
              hduashduasudhusau
              <img src="C:/Users/NATHANPC/Pictures/Nova pasta/499265873396105226.png" >

              </mat-card-content>
              <mat-card-actions>
                <button mat-button>Ok</button>
              </mat-card-actions>
            </mat-card>
<div class="container">

  <h1>Template-Driven Form</h1>
  <form #CardForm="ngForm" appIdentityRevealed>
    <div [hidden]="CardForm.submitted">








      <!-- <div class="form-group">
        <label for="CardId">Code</label>
        <input id="CardId" name="CardId" class="form-control"
              required minlength="1"
              [(ngModel)]="card.CardId" #codigo="ngModel" >
        </div>


      <div class="form-group">
        <label for="CardName">Model</label>
        <input id="CardName" name="CardName" class="form-control"
              required minlength="1"
              [(ngModel)]="card.CardName" #CardName="ngModel" >
      </div>
      <div class="form-group">
        <label for="Stars">Number of passengers</label>
        <input id="Stars" name="Stars" class="form-control"
              required minlength="1" maxlength="4" ngModel pattern="[0-9]*"
              [(ngModel)]="card.Stars" #Stars="ngModel" >
      </div>



      <button type="button" class="btn btn-default" (click)="onSubmit()"
              [disabled]="CardForm.invalid">Submit</button>
    </div>


  </form>
</div> -->




      <mat-tab-group [color]="colorToggle.value" [backgroundColor]="backgroundColorToggle.value">
        <mat-tab label="First">
          <mat-card>
            <div class="col-md-3" aria-colspan="3">
              <span style="color:red;" *ngIf="message">{{message}}</span>
              <input #file type="file" accept='image/*' (change)="preview(file.files)" />
              <img [src]="imgURL" height="200" *ngIf="imgURL">
            </div>

            <mat-card>
            <fieldset>

              <form action="/action_page.php">
                <div class="input-group row">
                  <!-- <div  class="col-md-4">
                      <label for="2">Type</label>
                      <mat-select [formControl]="animalControl" required >
                        <mat-option> -- </mat-option>
                        <mat-option *ngFor="let animal of animals" [value]="animal">
                          {{animal.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="animalControl.hasError('required')">Choose The Card Type</mat-error>
                    </div> -->

                    <div class="col-md-3">
                      <label class="label-head">Card Type</label>
                      <select MatSelect name="phd_guide" class="form-control" required [(ngModel)]="myVar">
                        <option value="">Choase The Card Type</option>
                        <option value="Monster">Monster</option>
                        <option value="Spell">Spell</option>
                        <option value="Trap">Trap</option>
                      </select>
                    </div>
                    <div class="col-md-4">
                      <label for="cardname">Card Name</label>
                      <input matInput type="text" class="form-control" required placeholder="Card Name" id="cardname" name="CardName">
                    </div>
                    <div class="col-md-4">
                      <label for="cardId">Card ID</label>
                      <input matInput type="text" class="form-control" required placeholder="The Card ID sequence" id="cardId" name="CardId">
                    </div>
                    </div>
                    <div class="cold-md-12">
                      <div *ngIf="myVar === 'Monster'" class="col-md-12" style="padding:5px" id="general-1">
                        <app-monster-card>

                        </app-monster-card>
                      </div>

                  <div class="cold-md-12" *ngIf="myVar === 'Spell'  " class="col-md-12" style="padding:5px" id="general-2">
                    <p>lala</p>

                  </div>

                  <div class="cold-md-12" *ngIf="myVar === 'Trap' " class="col-md-12" style="padding:5px" id="general-2">
                    <p>laladadsa</p>

                  </div>

                  <div>

                  </div>
                </div>
                <div class="input-group row">
                  <!-- <div  class="col-md-2">
                <label for="2">Element</label>
                <mat-select [formControl]="animalControl" required >
                  <mat-option> -- </mat-option>
                  <mat-option *ngFor="let animal of animals" [value]="animal">
                    {{animal.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="animalControl.hasError('required')">Choose A monster Type</mat-error>
              </div> -->
                  <!-- <div  class="col-md-3">
               <label for="monsterType">Monster Primary Type</label>
                <mat-select [formControl]="animalControl" required >
                  <mat-option> -- </mat-option>
                  <mat-option *ngFor="let animal of animals" [value]="animal">
                    {{animal.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="animalControl.hasError('required')">Choose A monster Type</mat-error>
                <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->

                  <!-- </div> -->


                </div>


                <button type="submit" class="btn btn-primary pull-right">Submit</button>
              </form>
            </fieldset>
          </mat-card>
        </mat-card>

        </mat-tab>
      </mat-tab-group>
